/* 
Vytvoř registrační formulář na workshop Czechitas.
Požadavky na formulář:
- Jméno a příjmení
- Datum narození
- Email
- Telefon
- Heslo
- Možnost výběru operačního systému
- Prostor pro zprávu
- Souhlas se zpracováním osobních údajů

Můžeš přidat cokoliv dalšího, co ti připadá důležité pro registrační formulář.

BONUS: Formulář pěkně nastyluj.

 */
